<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>

<h1>add</h1>
<form th:action="@{add}"
      th:object="${user}"
      method="post">
    <fieldset>
        <legend>User data</legend>
        <p>
            <label th:for="username">username
                <input type="text"
                       name="username"
                       th:id="username">
            </label>
            <br/>
            <label th:for="password">password
                <input type="text"
                       name="password"
                       th:id="password">
            </label>
            <br/>
            <br>
            <label>
                <input type="checkbox"
                       name="roleAdmin"
                       th:value="ROLE_ADMIN"
                       th:text="Admin">
            </label>

        </p>
    </fieldset>
    <button type="submit">Save</button>
</form>
<br/>
<form th:action="@{/admin/allUsers}">
    <button type="submit">Back</button>
</form>
<br/>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>

</body>
</html>