<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<table border="1">
    <tr>
        <th>№</th>
        <th>Login</th>
    </tr>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:utext="${user.getId}"></td>
        <td th:utext="${user.getUsername()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>